<h1><%=t("Editing User Event")%></h1>

<%= render 'form', user_event: @user_event %>

<div class='pull-right'>
  <%= link_to :back, class: 'btn btn-warning' do %>
    <i class='glyphicon glyphicon-backward'></i> <%= t('Back') %>
  <% end %>
</div>

